<form class="{{cssClass}}" autocomplete="off">
    <input name="name" type="text" value="{{entity.name}}" placeholder="Entry Title"/>

    <select name="folder">
        {{#select entity.folder}}
        <option value=""></option>
        {{#each folders}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        {{/select}}
    </select>

    {{editor content=entity.content target="content" button=true editable=editable owner=owner}}

    {{#if editable}}
    <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{ localize "JOURNAL.Submit"}}</button>
    {{/if}}
</form>
<style>
    div {
      background-image: linear-gradient(90deg, rgba(20,20,20,0.8748543362657564) 12%, rgba(37,31,51,0.8860588180584734) 100%),url('https://cdn.discordapp.com/attachments/779096091009482752/791815520411975731/backgroundjojo.png');
    }
    </style>