<form class="{{cssClass}} wholesheet" autocomplete="off">
    <header class="sheet-header">
        <img class="feature-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="feature-charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
        <br><br>
        <div>
            <span class="feature-dice rollable" data-roll="@feature.dice" data-label="{{data.data.feature.dice}}" owner=owner editable=editable> Roll:</span>
            <select  class="feature-selectstats"  name="data.data.roll"  data-type="String">
                <option  value="">-</option>
                {{#select item.data.data.roll}}
                {{#each item.data.data.dice as |dice key|}}
                <option  value="{{key}}">{{dice.label}}</option> {{/each}} {{/select}}
            </select>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
